.vscode
venv
**/__pycache__
.idea
assets/dist
logs
pkg/plugins/knowledge_base/tests/
pkg/plugins/knowledge_base/chromadb/
/translation
test.py
/pkg/plugins/translator/backend
knowledge
download
/_internal
